@font-face {
    font-family: "TabernaSans-Regular";
    src: url(assets/fonts/TabernaSans-Regular.otf) format('opentype');
    ;
}

@font-face {
    font-family: "TabernaSans-RegularSh";
    src: url(assets/fonts/TabernaSans-RegularSh.otf) format('opentype');
    ;
}

@font-face {
    font-family: "TabernaSans-Black";
    src: url(assets/fonts/TabernaSans-Black.otf) format('opentype');
    ;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url(assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "ChinupButtercupCutecaps";
    src: url(assets/fonts/ChinupButtercupCuteCaps.ttf);
}

@font-face {
    font-family: "ChinupButtercupElements";
    src: url(assets/fonts/ChinupButtercupElements.ttf);
}

@font-face {
    font-family: "CaferusRegular";
    src: url(assets/fonts/Caferus-Regular.otf) format('opentype');
    ;
}

@font-face {
    font-family: "CaferusNormal";
    src: url(assets/fonts/Caferus-Normal.otf) format('opentype');
    ;
}

@font-face {
    font-family: "TabernaSerif-RegularSh";
    src: url(assets/fonts/TabernaSerif-RegularSh.otf) format('opentype');
    ;
}

@font-face {
    font-family: "CommercialScriptBT-Regular";
    src: url(assets/fonts/CommercialScriptBT.ttf);
}

@font-face {
    font-family: "CaferusInline";
    src: url(assets/fonts/Caferus-Inline.otf) format('opentype');
    ;
}

@font-face {
    font-family: "CaferusShadow";
    src: url(assets/fonts/Caferus-Shadow.otf) format('opentype');
    ;
}

@font-face {
    font-family: "CaferusBasic";
    src: url(assets/fonts/Caferus-Basic.otf) format('opentype');
    ;
}

@font-face {
    font-family: "CaferusOrnamentregular";
    src: url(assets/fonts/caferus-ornament-regular.otf) format('opentype');
    
}

@font-face {
    font-family: "SorinkaCarved";
    src: url(assets/fonts/Sorinka-Carved.ttf)
}