// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/pagination";
@import "@ionic/angular/css/ionic-swiper";

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "theme/custom-ion-colors.scss";
// Add base app styles
@import "theme/app-defaults.scss";
// Add base shell styles
@import "theme/shell-defaults.scss";

@font-face {
  font-family: "TabernaSans-Black";
  src: url("./assets/fonts/TabernaSans-Black.otf");
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "ChinupButtercupCutecaps";
    src: url("./assets/fonts/Chin up Buttercup CuteCaps.ttf");
}
@font-face {
    font-family: "ChinupButtercupElements";
    src: url("./assets/fonts/Chin up Buttercup Elements.ttf");
}
@font-face {
    font-family: "CaferusRegular";
    src: url("./assets/fonts/Caferus Regular.otf");
}
@font-face {
    font-family: "CaferusNormal";
    src: url("./assets/fonts/Caferus Normal.otf");
}
@font-face {
    font-family: "TabernaSerif-RegularSh";
    src: url("./assets/fonts/TabernaSerif-RegularSh.otf");
}

@font-face {
  font-family: "CommercialScriptBT-Regular";
  src: url("./assets/fonts/Commercial Script BT.ttf");
}
@font-face {
  font-family: "CaferusInline";
  src: url("./assets/fonts/Caferus Inline.otf");
}
@font-face {
  font-family: "CaferusShadow";
  src: url("./assets/fonts/Caferus Shadow.otf");
}

@font-face {
  font-family: "CaferusBasic";
  src: url("./assets/fonts/Caferus Basic.otf");
}

@font-face {
  font-family: "CaferusOrnamentregular";
  src: url("./assets/fonts/caferus ornament regular.otf");
}

@font-face {
  font-family: "SorinkaCarved";
  src: url("./assets/fonts/Sorinka-Carved.ttf");
}
